#masthead.site-header {
  background: #333333;
  color: white;
  padding: 0 4em;
  display: inline-flex;
  width: 100%;
  position: relative;
  top: -22px;

  .site-branding, .site-logo {
    display: inline;
    float: left;

    .site-logo {
      padding-top: 10px;
    }

    img {
      width: 50%;
      display: inline;
    }
  }

  #primary-menu,.menu-all-pages-container {
    display: inline;
    text-align: right;
  }

  a {
    color: white;
    text-decoration: none;
    font-family: $font__main;
    padding: 15px;
    font-size: 16px;
    border-radius:10px;
    font-weight: bold;
    margin: 6px 0;

    &:hover {
      background: #555555;
      cursor: pointer;
      padding: 15px;
    }

    .site-branding, .site-navigation {
      display:inline-block;
    }

    .site-branding {
      width: 30%;
    }
    .site-navigation {
      width: 30%;
    }
  }

  .main-navigation {
    width: auto;
  }
}

#site-navigation {
  display: inline;
  float: right;
}