#masthead.site-header, #primary-menu {
  display: inline-flex;
  width: 100%;
  text-align: right;
}

.custom-logo-link img {
  width: 85%;
}

.site-navigation {
  display: inline-block;
  float: right;
  text-align: right !important;
  vertical-align: middle;
  padding-left: 8em !important;
}

.site-branding, .site-logo {
  display: inline;
  float: left;

  .site-logo {
    padding-top: 10px;
  }
}

#primary-menu, .menu-all-pages-container {
  display: inline;
  text-align: right;
}

.site-branding, .site-navigation {
  display: inline-block;
}

.site-branding {
  width: 30%;
}

.site-navigation {
  width: 30%;
}

.main-navigation {
  width: auto;

  a {
    color: #424242;
    text-decoration: none;
    font-family: $font__main;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    margin: 6px 0;

    &:hover {
      color: white;
      background: #4480A7;
      cursor: pointer;
      padding: 15px;
    }
  }
}

#site-navigation {
  display: inline;
  float: right;
}

.kt-row-layout-inner {
  padding: 0 3em;
}

@media screen and (max-width: 900px) {
  .site-branding, .site-navigation {
    display: none;
  }
  .nav-menu {
    li {
      display: block;
      float: none;
      width: 100%;
      text-align: center;
    }
  }

  .site-header {
    padding: 0;
  }
}