#masthead.site-header, #primary-menu {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 1em;
  text-align: center;

  .site-branding {
    width: 15%;
    float: left;
  }

  .main-navigation {
    width: 60%;
    display: inline;
    text-align: right;

    .menu-primary-menu-container {
      text-align: right;
      float: right;
    }
  }
}

.site-branding, .site-logo {
  display: inline;

  .site-logo {
    padding-top: 10px;
  }
}

#primary-menu, .menu-all-pages-container {
  display: inline;
  text-align: right;
}

.main-navigation {
  a {
    color: #424242;
    text-decoration: none;
    font-family: $font__main;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    margin: 6px 0;

    &:hover {
      color: white;
      background: #4480A7;
      cursor: pointer;
      padding: 15px;
    }
  }
}

@media screen and (max-width: 900px) {
  .site-header {
    padding-bottom: 0 !important;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  }

  #masthead.site-header .site-branding {
    width: 64%;
    float: left;
  }

  .box-shadow-menu {
    top: .7em;
    left: 3em;
  }

  .nav-menu {
    li {
      display: block;
      float: none;
      width: 100%;
      text-align: center;
    }
  }
}