// Customize the header countdown
.ub-countdown {
  div {
    display: inline-block;
    width: 10%;
    text-align: left;
    margin-right: 1em;
    color: #306085;
    font-weight: bolder;
  }

  // label style
  div.timer-container div:nth-child(2) {
    padding-top: 6px;
    display: block;
    text-align: center;
    width: 100%;
  }

  // digit style
  div.timer-container div:nth-child(1) {
    //font-weight: 900;
  }

  .ub_countdown_week, .ub_countdown_day, .ub_countdown_hour, .ub_countdown_minute, .ub_countdown_second {
    display: block;
    background: #FFFFFF;
    border: 1px solid #FFA200;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 21px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
  }
}

.ytp-large-play-button.ytp-button {
  background: orange;
}

.rounded-img img {
  border-radius: 5% !important;
}

.custom-link-box a {
  color: orange !important;
  text-decoration: none;
  font-weight: bold;
}

.list-items {
  margin-left: 0;
  padding-left: 0;

  li {
    color: black;
    list-style-type: none;
  }

  li:before {
    content: '\2022';
    color: #FFA200;
    padding-right: 0.3em;
    font-size: 30px;
  }
}

#ub-content-toggle-5c8274b0-fae3-4d9c-9f20-74153a289998 {
  .wp-block-ub-content-toggle-accordion-title:before {
    font-family: FontAwesome;
    content: "\f11c";
    color: white;
    padding-right: 0.3em;
    font-size: 30px;
    position: relative;
    top: 4px;
  }

  .wp-block-ub-content-toggle-accordion-content-wrap {
    background: #FFF8E1;
  }
}

#ub-content-toggle-cd54c34e-5bac-4c77-b5b3-57a340e5631a {
  .wp-block-ub-content-toggle-accordion-title:before {
    font-family: FontAwesome;
    content: "\f26c";
    color: white;
    padding-right: 0.3em;
    font-size: 26px;
    position: relative;
    top: 4px;
  }

  .wp-block-ub-content-toggle-accordion-content-wrap {
    background: #E4F0F4;
  }
}

.wp-block-ub-content-toggle-accordion-state-indicator {
  font-weight: bold;
}

.msacwl-carousel {
  .msacwl-carousel-slide {
    a {
      margin: 1em !important;
      border-radius: 10px;
      pointer-events: none;

      img {
        border-radius: 14px;
      }
    }
  }
}

.msacwl-gallery-carousel button.slick-next {
  background-color: #78ACC6 !important;

  &:hover {
    background-color: #78ACC6 !important;
  }
}

.slick-prev, .slick-arrow {
  background-color: #78ACC6 !important;
  border: 1px solid #78ACC6 !important;
}

.msacwl-gallery-slider .slick-dots li.slick-active button, .msacwl-gallery-carousel .slick-dots li.slick-active button {
  background-color: #78ACC6 !important;
  border: 1px solid #78ACC6 !important;
}

.msacwl-gallery-slider .slick-dots li button, .msacwl-gallery-carousel .slick-dots li button {
  border: 1px solid #BEDAE6 !important;
}

.slick-dots {
  position: relative !important;

  li button {
    width: 16px !important !important;
    height: 16px !important;
    margin: 4px !important;
  }
}

.msacwl-gallery-carousel .slick-dots li {
  button {
    width: 16px !important;
    height: 16px !important;
  }

  margin: 4px !important;
}

@media screen and (max-width: 900px) {
  .ub-countdown {
    text-align: center;
  }

  .ub-countdown div {
    width: 82px;
    margin-right: .4em;
  }

  .ub-countdown .ub_countdown_week, .ub-countdown .ub_countdown_day, .ub-countdown .ub_countdown_hour, .ub-countdown .ub_countdown_minute, .ub-countdown .ub_countdown_second {
    padding: 6px;
    width: 100%;
    font-size: 28px;
  }

  .ub-countdown div.timer-container div:nth-child(2) {
    font-size: 15px;
  }
}
