.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.site-content {
	width: 90%;
	margin: 0 auto;
}

.header-video * {
	border-radius: 12px;
}

.site-content .updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
